<md-progress-linear class="md-accent" ng-if="initialLoading" md-mode="indeterminate"></md-progress-linear>

<div layout="row" layout-align="center center" class="overlay" ng-if="partialLoading">
    <span flex="25">
    <md-progress-circular flex="50" md-diameter="100%" class="md-accent loader" md-mode="indeterminate"></md-progress-circular>
    <span flex="25">
</div>

<div ng-if="!initialLoading">
  <md-sidenav md-component-id="left" class="md-sidenav-left wb-sidenav" md-whiteframe="4">
    <md-toolbar class="sidenav-header md-accent">
      <h1 class="md-toolbar-tools"><img src="assets/images/willys.svg" width="60px;"></h1>
    </md-toolbar>
    <md-list>
      <md-list-item>
        <md-button ng-click="goToFromSidebar('init')" layout-align="left start">
          <md-icon class="md-primary">home</md-icon>
          <span> Home </span>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="goToFromSidebar('init')" layout-align="left start">
          <md-icon class="md-primary">home</md-icon>
          <span> Novedades Willy's </span>
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar class="wb-toolbar" md-whiteframe="3">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="openLeftMenu()">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-accent">Willy's</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-menu>
        <md-button class="md-icon-button" ng-click="openNavbarMenu($mdMenu, $event)">
          <img class="user-thumbnail" ng-if="authUser.photoURL" ng-src="{{authUser.photoURL}}">
          <md-icon ng-if="!authUser || !authUser.photoURL">account_circle</md-icon>
        </md-button>
         <md-menu-content width="2">
           <md-menu-item>
             <md-button ng-click="goTo('profile')">
               <md-icon>account_circle</md-icon>
               Perfil
             </md-button>
           </md-menu-item>
           <md-menu-item>
             <md-button ng-disabled="!authUser" ng-click="signOut()">
               <md-icon>power_settings_new</md-icon>
               Logout
             </md-button>
           </md-menu-item>
         </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
