<div id="login-v2" layout="row" layout-align="start">
    <div id="login-v2-intro" flex hide show-gt-sm>
        <div class="logo">
            <span><img src="assets/images/willys.svg"></span>
        </div>
        <div class="title">
            Bienvenido a Zona Willy's
        </div>
        <div class="description">
            Aquí encontrarás las últimas noticias, eventos y birras con sello Willy's. Además te daremos acceso prioritario a nuestras promociones y últimas ofertas.
        </div>
    </div>

    <div id="login-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-v2-form">
            <div class="logo" hide-gt-sm>
              <span><img src="assets/images/willys.svg"></span>
            </div>

            <div class="title">Accede a tu cuenta Willy's</div>

            <!-- <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="row" layout-sm="column"
                     layout-align="space-between center">
                    <md-checkbox class="remember-me" ng-model="data.cb1" aria-label="Remember Me">
                        <span>Remember Me</span>
                    </md-checkbox>

                    <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color">Forgot Password?</a>
                </div>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    LOG IN
                </md-button>
            </form>

            <div class="separator">
                <span class="text">OR</span>
            </div> -->

            <div class="separator">
            </div>

            <div layout="column" layout-align="start center">
                <md-button class="md-raised google" ng-click="vm.AuthService.$signInWithRedirect('google')">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                            <span>Log in con Google</span>
                        </span>
                    </div>
                </md-button>

                <md-button class="md-raised facebook" ng-click="vm.AuthService.$signInWithRedirect('facebook')">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                            <span>Log in con Facebook</span>
                        </span>
                    </div>
                </md-button>
            </div>

            <!-- <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" ui-sref="app.pages_auth_register-v2">Create an
                    account</a>
            </div> -->
        </div>
    </div>
</div>
