<md-content flex>

  <div class="about">
    <div layout="row" layout-xs="column" layout-align="center">
      <div flex="50" flex-xs="100" class="claim">
        <h2>Acceso a Be Willy's</h2>
        <md-button ng-click="vm.auth.$signInWithRedirect('google')" class="btn md-raised">
          <md-icon md-svg-src="assets/images/facebook-logo.svg"></md-icon> Login con Google
        </md-button>
        <md-button ng-click="vm.auth.$signInWithRedirect('facebook')" class="btn md-raised">
          <md-icon md-svg-src="assets/images/facebook-logo.svg"></md-icon> Login con Facebook
        </md-button>
      </div>
    </div>
  </div>

</md-content>
