<div class="results-container">
  <div flex flex-gt-xs="50" flex-offset-gt-xs="25">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Mi Perfil Willy's</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>User creado: {{vm.user.email}}</p>
        <md-card>
          <md-card-content>
            <p>
              <md-icon>error</md-icon>
              Lorem ipsum
            </p>
          </md-card-content>
        </md-card>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-accent">
          Close
        </md-button>
        <md-button class="md-accent">
          Open
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
