<div flex flex-gt-xs="50" flex-offset-gt-xs="25">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Mi Perfil Willy's</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>User: {{vm.user.displayName}}</p>
      <p>Te uniste en el Equity: {{vm.user.equity}}</p>
      <p>Tienes {{vm.user.stocks}} de Willy's Brewing x 50€</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-accent">
        Close
      </md-button>
      <md-button class="md-accent">
        Open
      </md-button>
    </md-card-actions>
  </md-card>
</div>
