#app-home{

  md-card md-card-header md-card-avatar md-icon {
    padding: 0;
  }

  .featured-card{
    height:240px;
    background: url('/assets/images/backgrounds/preequity.png') no-repeat center center;
    background-size: cover;
  }

}
