#app-home{

  md-card md-card-header md-card-avatar md-icon {
    padding: 0;
  }

  .featured-card{
    height:240px;
    background-image: url('https://www.willysbrewing.com/media/images/riotapa_Ydj4MCz.2e16d0ba.fill-1800x978.jpg');
    background-size: cover;
  }

}
