@import url(//fonts.googleapis.com/css?family=Open+Sans:300|Roboto:700|Roboto+Condensed:700);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Sidenav*/
.wb-sidenav{
  background-color: #fff;
  color: rgba(0,0,0,.654);
}

.wb-sidenav md-list-item{
  padding: 0;
}

.wb-sidenav md-list-item button{
  width: 100%;
  margin: 0;
  text-align: left;
  padding: 8px 20px;
  border-radius: 0;
  text-transform: none;
}

.wb-toolbar{
  background-color: #fff !important;
  color: rgba(0,0,0,.654) !important;
  min-height: 50px;
  height: 50px;
}

.overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.75);
  z-index: 1000;
}

.loader{
  margin: 0 auto;
}

@media screen and (max-width: 456px){
  .wb-sidenav{
    min-width: 254px !important;
    width: 254px !important;
    max-width: 254px !important;
  }
  .loader{
    margin: initial;
  }
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent, md-toolbar:not(.md-menu-toolbar).md-accent{
  background: rgb(0,0,0);
}

.sidenav-header{
  height: 100px;
}

.md-fab{
  position: fixed;
  right: 3%;
  bottom: 24px;
  z-index: 100;
}

/* Init */
.init {
  color: rgba(0,0,0,.654);
  padding: 80px 48px 56px 48px;
  min-height: 320px;
}

/* About */
.about {
  color: rgba(0,0,0,.654);
  padding: 8rem 48px 56px 48px;
  min-height: 320px;
}

.about .claim{
  margin: 0 auto;
}

.about h2{
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.about .btn{
  margin: 0;
  background-color: #fff;
  color: rgba(0,0,0,.654) !important;
  padding: 5px 20px;
  font-weight: 800;
}

.about .btn md-icon{
  color: rgba(0,0,0,.654) !important;
}

/* Form */
.form{
  display: flex;
}

.form md-card{
  flex-grow: 1;
}

md-input-container{
  margin: 8px 0;
  width: 100%;
}

md-radio-button, md-checkbox{
  margin: 16px 8px;
}

img.thumbnail{
  margin: 16px 0;
  width: 100px;
}

/* Footer */
.wb-footer{
  background-color: rgb(250,250,250);
  color: rgba(0,0,0,.654);
  text-align: center;
  padding: 16px;
  position: relative;
}
