<md-content flex>

  <header class="background-sky">
    <div class="hero">
      <div layout="row" layout-xs="column" layout-align="center">
        <div flex="50" flex-xs="100" class="claim">
          <h2>Lorem ipsum</h2>
          <p><b>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</b></p>
          <md-button ui-sref="candidate.list" class="btn md-raised">
            <md-icon>done</md-icon>
             Open
          </md-button>
          <md-button ui-sref="results" class="btn md-raised">
            <md-icon>poll</md-icon>
             Close
           </md-button>
        </div>
        <div flex="50" flex-xs="100">
          <md-card>
            <img src="https://cdn.willysbrewing.com/resources/images/willys.jpg" class="md-card-image" alt="candidato">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">hey there</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                hey there
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-accent" ng-click="vm.nextRandom()">
                <md-icon>loop</md-icon><span> Ver otro</span>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </header>

    <article class="article">
      <div layout="row" layout-xs="column" layout-align="center">
        <div flex="40" flex-offset="10" flex-offset-xs="0" flex-xs="100" class="claim">
          <h3>La representación ya no es tu excusa</h3>
          <p><b>Los candidatos los creas tú mismo.</b> Si los políticos actuales te convencen, simplemente <b>tienes que añadirlos para darles tu voto</b>. Si en caso contrario no te sientes representado por la clase política, <b>podrás añadir el candidato que más te guste</b>.</p>
          <md-button class="md-accent" ui-sref="candidate.add">Crear candidato</p>
        </div>
        <div flex="50" flex-xs="100" class="hide-xs claim">
          <img src="https://cdn.willysbrewing.com/resources/images/willys.jpg" alt="indignado">
        </div>
      </div>
    </article>

    <article class="article alt">
      <div layout="row" layout-xs="column" layout-align="center">
        <div flex="40" flex-xs="100" class="hide claim">
          <h3>Tu puedes ser el elegido</h3>
          <p>En voten.me no hay ningún límite. ¿No es genial?. <b>Hazte un selfie,</b> pon tu nombre y una breve descrpición y serás un <b>candidato al que todos podrán votar</b>. En voten.me sí que se puede llegar a acuerdos.</p>
        </div>
        <div flex="50" flex-xs="100" class="hide-xs claim">
          <img src="https://cdn.willysbrewing.com/resources/images/willys.jpg" alt="crea tu candidato">
        </div>
        <div flex="40" flex-xs="100" class="claim">
          <h3>Tu puedes ser el elegido</h3>
          <p>En voten.me no hay ningún límite. ¿No es genial?. <b>Hazte un selfie,</b> pon tu nombre y una breve descrpición y serás un <b>candidato al que todos podrán votar</b>. En voten.me los acuerdos se dan por hecho.</p>
        </div>
      </div>
    </article>



  </md-content>
