<!doctype html>
<html ng-app="willys">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aquí encontrarás las últimas noticias, eventos y birras con sello Willy's. Además te daremos acceso prioritario a nuestras promociones y últimas ofertas.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    <meta name="keywords" content="willys brewing, willy's, willy's brewing, cerveza natural, cerveza, cerveza española, cerveza revolución">
    <meta name="author" content="@willysbrewing" />
    <link rel="canonical" href="https://app.wilysbrewing.com" />
    <title>Willy's App</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-icon-192x192.png">
    <meta name="msapplication-TileColor" content="#9E9E9E">
    <meta name="msapplication-TileImage" content="/assets/icons/android-icon-192x192.png">
    <meta name="theme-color" content="#9E9E9E">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@willysbrewing">
    <meta name="twitter:creator" content="@willysbrewing">
    <meta name="twitter:title" content="Willy's APP">
    <meta name="twitter:description" content="Aquí encontrarás las últimas noticias, eventos y birras con sello Willy's. Además te daremos acceso prioritario a nuestras promociones y últimas ofertas.">
    <meta name="twitter:image:src" content="https://{{ request.site.hostname }}{% if self.feed_image %}{% image self.feed_image width-400 as img %}{{ img.url }}{% else %}{% static 'images/willys-content.png' %}{% endif %}" />

    <meta property="fb:app_id" content="195907537508439" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://app.willysbrewing.com" />
    <meta property="og:title" content="Willy's APP" />
    <meta property="og:image" content="https://{{ request.site.hostname }}{% if self.feed_image %}{% image self.feed_image width-1024 as img %}{{ img.url }}{% else %}{% static 'images/willys-content.png' %}{% endif %}" />
    <meta property="og:description" content="Aquí encontrarás las últimas noticias, eventos y birras con sello Willy's. Además te daremos acceso prioritario a nuestras promociones y últimas ofertas." />
    <meta property="og:site_name" content="willysbrewing" />

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Chau+Philomene+One" rel='stylesheet' type='text/css'>
  </head>
  <body md-theme="CUSTOM">
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div>

      <!-- SPLASH SCREEN -->
      <ms-splash-screen id="splash-screen">
          <div class="center">
              <div class="logo">
                  <img style="width: 200px;" src="assets/images/willys.svg">
                  <!-- Material Design Spinner -->
                  <md-progress-circular class="md-warn" style="margin: 0 auto;" md-diameter="64">
                  </md-progress-circular>
                  <!-- / Material Design Spinner -->
            </div>
          </div>
      </ms-splash-screen>
      <!-- / SPLASH SCREEN -->

      <div id="main" ui-view="main" layout="column"></div>

    </div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyB4TdPdkmQz0PJR7eU6V7ARf5l1bdnLbxU",
        authDomain: "willys-4fbc0.firebaseapp.com",
        databaseURL: "https://willys-4fbc0.firebaseio.com",
        storageBucket: "willys-4fbc0.appspot.com",
        messagingSenderId: "334793799619"
      };
      firebase.initializeApp(config);
    </script>

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
